body{
	margin: 0;
	padding: 0;
	background: url(1.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
    justify-content: center;
    display: flex;
    min-height: 100vp;
}
input[type="checkbox"]
{
    -webrit-appearance: none;
    visibility: hidden;
    display: none;
}
.check
{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    top: 0%;
    left: 1290%;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .check
{
    background: #fff;
    box-shadow: 0 0 0 1290px #092c3e;
}
.check:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check:before
{
    transform: translateX(-50px);
}
.check:after
{
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check:after
{
    transform: translateX(0px);
}
.loginbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align:  center;
	font-size: 22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #ffc107;
}

title h2{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-40%,-50%)

}

.title h2{
	color: #ffc107;
	font-size:15px;

}
.animated-text{
    color: #fff;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    padding: 0 40px;
    height: 60px;
    overflow: hidden;
}
.line{
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
}
.line:first-child{
    animation: anim 10s infinite;
}

@keyframes anim {
    0%{
        margin-top: 0;
    }
    16%{
        margin-top: -60px;
    }
    33%{
        margin-top: -120px;
    }
    50%{
        margin-top: -180px;
    }
    66%{
        margin-top: -120px;
    }
    82%{
        margin-top: -60px;
    }
    100%{
        margin-top: -0;
    }
}